.navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 180px;
  height: 100vh;
  background: var(--grey-200);

  padding: 0 16px;
  padding-bottom: 10px;
  border-right: 1px solid var(--grey-400);
}


.salirBtn {
  all: unset;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  color: var(--text-200);
  padding: 16px 0;
  transition: all 0.45s ease-out;
}


.navigation__link {
  all: unset;
  display: flex;

  align-items: center;
  gap: 16px;
  cursor: pointer;
  color: var(--text-200);
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  transition: color 450ms;
}

.navigation__link {
  color: var(--text-300);
}

.navigation__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primario-100);

  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}

.navigation__link:hover::after,
.navigation__link:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

.navigation__link:active {
  scale: 0.95;
}

.salirBtnSm{
  display:none;
}

.paginaActual {
  all: unset;
  display: flex;
  gap: 16px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  color: var(--primario);
  align-items: center;
}

.paginaActual::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primario-100);

  inset: 0;
}

.navigation__menu {
  display: grid;
  gap: 16px;
  list-style: none;
}
.navigation__options {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.logo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@media (max-width: 850px) { 
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    background: var(--grey-200);
    color: white;
    padding: 8px;
    border-right: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .logo{display: none;}

  .navigation__options {
    display: flex;
   justify-content: center;
   align-items: center;
    height: 100%;
    width: 100%;
  }

  .navigation__menu {
    display: flex;
    justify-content: space-evenly;
    width: 100% ;
   
  }

  .salirBtn{
    display: none;
  }

  .btnSmScreen, .paginaActualSm {
    all: unset;
    display: grid;
    gap: 5px;
    place-items: center;
    color: var(--text-300);
    cursor: pointer;
  }

  .navigation__link {
    display: none;
  }
  .paginaActual{display: none;}
  
  .paginaActualSm{
    color: var(--primario);
  }

  .btnSmScreen:focus {
    outline: auto; 
  }
 
}
