<footer>
  <div class="footer-end">
    <p>2025 Bienal del Chaco - Desarrollado por Grupo 02</p>
    <div class="redes-sociales">
      <i class="fa-brands fa-twitter icons-size" title="twitter"></i>
      <i class="fa-brands fa-facebook icons-size" title="facebook"></i>
      <i class="fa-brands fa-instagram icons-size" title="instagram"></i>
    </div>
  </div>

  <nav class="sidebar">
    <ul>
      <li>
        <a href="/eventos"
          ><i class="material-icons-outlined" id="eventos-tag-footer">&#xe878;</i>
          <p>Eventos</p></a
        >
      </li>
      <li>
        <a href="/">
          <i class="material-icons-outlined" id="inicio-tag-footer">&#xe88a;</i>
          <p>Inicio</p></a
        >
      </li>
      <li>
        <a href="/certamen">
          <i class="material-icons-outlined" id="certamen-tag-footer">&#xea23;</i>
          <p>Certamen</p>
        </a>
      </li>
    </ul>
  </nav>
</footer>
