<header id="header">
    <a href="/" class="logo-bienal">
        <svg
            id="svg"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            height="60"
            viewBox="0, 0, 400,212"
        >
            <g id="svgg" fill="white"
                ><path
                    id="path0"
                    d="M51.589 3.650 C 51.583 3.678,51.503 9.127,51.412 15.760 C 51.320 22.394,51.213 27.851,51.173 27.889 C 51.133 27.926,49.840 28.058,48.300 28.182 C 20.720 30.397,1.618 52.045,7.782 74.100 C 8.171 75.490,8.171 75.511,7.783 76.900 C 6.442 81.695,6.440 88.242,7.777 93.337 C 8.142 94.729,8.142 94.815,7.794 96.071 C 6.398 101.105,6.397 107.693,7.792 112.723 C 8.139 113.975,8.139 114.060,7.770 115.457 C 6.421 120.565,6.426 127.049,7.782 131.898 C 8.167 133.276,8.167 133.314,7.792 134.698 C 1.868 156.527,20.843 178.549,47.300 180.549 L 49.300 180.700 49.233 194.200 C 49.196 201.625,49.122 207.857,49.069 208.050 C 48.983 208.363,49.150 208.400,50.654 208.400 L 52.335 208.400 52.467 198.467 C 52.540 193.004,52.600 186.807,52.600 184.696 L 52.600 180.857 54.850 180.721 C 83.082 179.018,102.526 157.825,96.767 135.032 L 96.346 133.364 96.767 131.632 C 98.051 126.348,98.051 121.052,96.767 115.769 L 96.346 114.037 96.769 112.269 C 97.547 109.016,97.672 107.921,97.672 104.400 C 97.672 100.879,97.547 99.784,96.769 96.531 L 96.346 94.763 96.763 93.031 C 98.061 87.638,98.064 82.503,96.772 77.188 L 96.355 75.475 96.773 73.788 C 102.156 52.038,83.929 30.687,58.016 28.386 C 56.632 28.264,55.283 28.121,55.017 28.070 L 54.535 27.976 54.664 15.788 L 54.794 3.600 53.197 3.600 C 52.319 3.600,51.595 3.623,51.589 3.650 M51.200 34.050 C 51.199 35.948,51.140 39.727,51.068 42.450 L 50.936 47.400 49.617 47.400 C 34.281 47.400,17.450 57.011,10.716 69.614 C 9.658 71.594,9.639 71.552,9.475 66.900 C 8.816 48.278,26.081 32.338,48.557 30.817 C 49.846 30.729,50.968 30.645,51.050 30.629 C 51.133 30.613,51.200 32.152,51.200 34.050 M58.740 31.107 C 80.736 33.973,96.663 50.339,94.986 68.355 C 94.712 71.309,94.704 71.316,93.786 69.624 C 87.042 57.194,72.233 48.443,56.295 47.467 L 54.144 47.336 54.271 45.418 C 54.341 44.363,54.398 40.643,54.399 37.150 L 54.400 30.800 55.390 30.800 C 55.934 30.800,57.442 30.938,58.740 31.107 M130.333 57.735 C 130.260 65.746,130.200 77.858,130.200 84.650 L 130.200 97.000 138.287 97.000 C 146.978 97.000,147.974 96.911,150.433 95.918 C 160.551 91.831,163.832 78.850,156.886 70.384 L 156.071 69.390 156.857 68.545 C 158.718 66.545,160.157 63.880,160.671 61.482 C 160.941 60.223,160.969 61.738,160.984 78.550 L 161.000 97.000 165.801 97.000 L 170.601 97.000 170.551 70.150 L 170.500 43.300 165.800 43.300 L 161.100 43.300 160.996 50.100 C 160.939 53.840,160.871 56.617,160.846 56.271 C 160.549 52.205,156.942 47.167,152.777 45.000 C 149.680 43.389,149.264 43.335,139.283 43.248 L 130.466 43.171 130.333 57.735 M172.312 69.891 C 172.231 84.571,172.223 96.676,172.294 96.791 C 172.382 96.933,176.535 97.000,185.212 97.000 L 198.000 97.000 198.000 92.200 L 198.000 87.400 189.900 87.400 L 181.800 87.400 181.800 80.700 L 181.800 74.000 189.900 74.000 L 198.000 74.000 198.000 69.925 C 198.000 67.684,197.944 65.569,197.875 65.225 L 197.750 64.600 189.775 64.600 L 181.800 64.600 181.800 58.700 L 181.800 52.800 189.800 52.800 L 197.800 52.800 197.800 48.000 L 197.800 43.200 185.130 43.200 L 172.460 43.200 172.312 69.891 M199.834 43.546 C 199.721 43.761,199.698 54.279,199.774 70.400 L 199.900 96.900 204.355 96.954 C 207.889 96.997,208.830 96.953,208.910 96.745 C 208.966 96.600,208.880 90.367,208.720 82.894 C 208.559 75.420,208.444 69.289,208.464 69.269 C 208.484 69.249,211.429 75.458,215.009 83.067 L 221.517 96.900 229.409 96.900 L 237.300 96.900 237.737 94.000 C 237.977 92.405,238.179 91.076,238.187 91.047 C 238.194 91.017,240.515 91.017,243.345 91.047 L 248.491 91.100 248.842 93.600 C 249.035 94.975,249.241 96.303,249.300 96.550 L 249.408 97.000 266.804 97.000 L 284.200 97.000 284.200 92.200 L 284.200 87.400 276.101 87.400 L 268.002 87.400 267.951 65.350 L 267.900 43.300 263.250 43.246 L 258.600 43.193 258.571 46.146 C 258.555 47.771,258.488 59.193,258.421 71.529 L 258.300 93.958 253.928 68.729 C 251.524 54.853,249.516 43.433,249.466 43.350 C 249.417 43.268,246.732 43.200,243.500 43.200 C 240.268 43.200,237.584 43.268,237.535 43.350 C 237.486 43.433,235.568 53.919,233.273 66.654 L 229.100 89.807 228.997 84.654 C 228.940 81.819,228.872 71.412,228.845 61.528 C 228.818 51.643,228.747 43.475,228.686 43.378 C 228.452 42.999,220.232 43.163,220.045 43.550 C 219.952 43.743,219.949 49.165,220.039 55.600 C 220.129 62.035,220.179 68.537,220.151 70.048 L 220.100 72.797 213.778 58.048 L 207.457 43.300 203.738 43.246 C 200.349 43.196,200.002 43.223,199.834 43.546 M50.932 55.733 C 50.859 58.885,50.800 62.609,50.800 64.007 L 50.800 66.548 48.750 66.688 C 36.102 67.547,24.879 72.468,16.810 80.693 L 14.720 82.824 14.367 82.362 C 13.874 81.714,11.916 77.918,11.405 76.617 L 10.980 75.535 11.419 74.417 C 16.255 62.112,29.534 52.604,44.800 50.517 C 48.051 50.073,48.146 50.063,49.682 50.030 L 51.064 50.000 50.932 55.733 M58.024 50.295 C 72.571 51.997,84.861 59.465,91.128 70.411 C 92.827 73.381,93.518 75.288,93.215 76.173 C 92.852 77.230,91.114 80.743,90.401 81.858 L 89.789 82.817 87.544 80.554 C 79.456 72.401,68.553 67.622,55.919 66.693 L 53.938 66.548 54.069 62.642 C 54.141 60.493,54.200 56.770,54.200 54.368 L 54.200 50.000 54.851 50.000 C 55.209 50.000,56.637 50.133,58.024 50.295 M148.164 53.289 C 151.816 55.312,152.479 59.809,149.569 62.808 C 148.181 64.238,147.424 64.452,143.350 64.560 L 139.800 64.654 139.800 58.611 L 139.800 52.568 143.450 52.634 C 147.061 52.699,147.111 52.706,148.164 53.289 M245.197 70.905 C 246.079 76.958,246.800 82.066,246.800 82.255 C 246.800 82.568,246.480 82.600,243.300 82.600 C 241.083 82.600,239.800 82.526,239.800 82.399 C 239.800 82.190,243.107 61.243,243.337 60.000 C 243.502 59.104,243.345 58.186,245.197 70.905 M50.732 72.950 C 50.660 75.013,50.601 78.742,50.601 81.238 L 50.600 85.775 49.750 85.874 C 49.282 85.928,47.838 86.071,46.540 86.190 C 39.642 86.826,32.345 89.111,26.453 92.480 L 25.207 93.192 23.196 91.677 C 21.179 90.158,17.697 86.860,16.842 85.660 L 16.387 85.019 18.443 82.883 C 24.662 76.422,32.705 72.135,42.200 70.219 C 44.381 69.779,48.101 69.313,50.082 69.232 L 50.863 69.200 50.732 72.950 M59.200 69.726 C 69.346 71.044,78.661 75.466,85.332 82.130 C 88.332 85.127,88.261 84.945,87.008 86.391 C 85.532 88.095,83.243 90.189,81.085 91.811 L 79.223 93.211 78.237 92.604 C 72.704 89.199,64.055 86.589,56.438 86.026 C 55.084 85.925,53.928 85.795,53.870 85.736 C 53.811 85.677,53.829 81.928,53.910 77.405 L 54.057 69.181 55.478 69.304 C 56.260 69.372,57.935 69.561,59.200 69.726 M147.100 74.662 C 151.525 76.732,152.377 82.446,148.748 85.709 C 147.205 87.096,146.117 87.400,142.692 87.400 L 139.800 87.400 139.800 80.682 L 139.800 73.964 142.850 74.032 C 145.700 74.096,145.979 74.137,147.100 74.662 M12.270 84.017 L 13.013 85.135 12.225 86.317 C 11.792 86.968,11.077 88.166,10.636 88.981 L 9.834 90.462 9.667 89.481 C 9.451 88.210,9.451 81.990,9.667 80.718 L 9.834 79.735 10.681 81.318 C 11.146 82.188,11.862 83.403,12.270 84.017 M94.993 82.691 C 95.199 84.924,94.995 89.523,94.666 90.055 C 94.608 90.149,94.041 89.326,93.406 88.227 C 92.771 87.128,92.065 85.992,91.838 85.703 L 91.424 85.177 92.491 83.538 C 93.078 82.637,93.766 81.472,94.019 80.950 C 94.630 79.690,94.733 79.874,94.993 82.691 M20.954 93.350 L 22.808 94.776 21.154 96.022 C 20.244 96.707,18.408 98.366,17.073 99.708 L 14.647 102.148 13.539 100.224 C 12.929 99.166,12.108 97.516,11.714 96.558 L 10.997 94.816 11.476 93.545 C 12.059 91.995,12.569 90.969,13.753 88.963 L 14.660 87.427 16.880 89.675 C 18.101 90.912,19.934 92.566,20.954 93.350 M91.367 90.100 C 92.942 92.977,93.486 94.524,93.228 95.387 C 92.944 96.334,91.346 99.604,90.485 100.998 L 89.798 102.111 87.048 99.405 C 85.535 97.917,83.736 96.297,83.049 95.805 C 81.514 94.705,81.491 94.879,83.350 93.491 C 84.203 92.855,85.980 91.241,87.300 89.905 C 90.086 87.086,89.707 87.067,91.367 90.100 M50.530 90.431 C 50.458 91.438,50.400 94.228,50.400 96.631 L 50.400 101.000 49.843 101.000 C 49.433 101.000,49.000 100.710,48.200 99.900 C 46.893 98.577,46.901 98.578,45.831 99.668 L 44.979 100.536 43.840 100.361 C 39.517 99.694,33.967 97.896,29.865 95.833 C 27.752 94.770,27.757 94.805,29.559 93.854 C 34.984 90.992,43.583 88.699,49.180 88.621 L 50.660 88.600 50.530 90.431 M60.794 89.215 C 66.120 90.120,76.400 93.779,76.400 94.771 C 76.400 95.091,70.764 97.634,68.144 98.496 C 64.012 99.854,57.780 101.000,54.519 101.000 L 53.536 101.000 53.668 96.350 C 53.740 93.793,53.799 90.989,53.800 90.120 L 53.800 88.539 56.070 88.669 C 57.319 88.740,59.445 88.986,60.794 89.215 M26.374 97.003 C 30.791 99.721,38.526 102.330,44.523 103.125 C 47.079 103.464,47.107 103.473,47.946 104.271 C 48.973 105.248,49.086 105.146,46.689 105.403 C 39.219 106.205,32.413 108.366,26.163 111.920 L 25.226 112.453 24.163 111.688 C 20.587 109.116,16.276 104.806,16.625 104.153 C 17.267 102.954,24.552 96.404,25.247 96.401 C 25.328 96.400,25.835 96.671,26.374 97.003 M80.878 97.550 C 82.584 98.759,88.000 103.977,88.000 104.411 C 88.000 104.840,82.594 110.033,80.889 111.242 L 79.279 112.383 75.989 110.727 C 69.342 107.381,60.960 105.200,54.751 105.200 L 53.600 105.200 53.600 104.431 L 53.600 103.661 55.850 103.539 C 62.734 103.167,69.584 101.321,75.700 98.191 C 77.570 97.234,79.135 96.439,79.178 96.425 C 79.220 96.411,79.985 96.918,80.878 97.550 M12.580 103.771 L 13.027 104.400 12.580 105.029 C 12.333 105.375,11.614 106.554,10.981 107.649 L 9.831 109.641 9.665 108.670 C 9.574 108.137,9.500 106.215,9.500 104.400 C 9.500 102.585,9.574 100.663,9.665 100.130 L 9.831 99.159 10.981 101.151 C 11.614 102.246,12.333 103.425,12.580 103.771 M94.986 102.044 C 95.194 104.273,95.016 108.405,94.674 109.296 C 94.582 109.535,94.305 109.177,93.688 108.022 C 93.216 107.138,92.553 106.013,92.215 105.521 C 91.436 104.390,91.414 104.540,92.650 102.569 C 93.228 101.648,93.874 100.508,94.086 100.035 C 94.596 98.898,94.719 99.173,94.986 102.044 M92.120 110.900 C 93.788 114.309,93.615 115.251,90.367 120.430 L 89.784 121.360 87.442 119.015 C 86.154 117.726,84.358 116.100,83.450 115.403 C 81.487 113.895,81.522 114.108,83.056 113.008 C 83.740 112.517,85.515 110.897,87.000 109.408 L 89.700 106.700 90.371 107.700 C 90.740 108.250,91.527 109.690,92.120 110.900 M17.126 109.163 C 18.431 110.462,20.238 112.093,21.139 112.787 L 22.778 114.048 20.971 115.444 C 19.978 116.212,18.155 117.861,16.921 119.108 L 14.678 121.377 13.860 120.038 C 12.917 118.497,12.060 116.786,11.419 115.173 L 10.972 114.045 11.703 112.279 C 12.434 110.514,12.941 109.536,14.051 107.750 C 14.773 106.589,14.339 106.390,17.126 109.163 M59.600 108.311 C 64.545 109.016,70.110 110.752,74.500 112.959 L 76.700 114.065 73.942 115.402 C 68.210 118.183,61.644 119.853,54.850 120.260 L 53.400 120.347 53.401 116.923 C 53.401 115.040,53.461 112.205,53.533 110.623 L 53.665 107.746 55.582 107.878 C 56.637 107.952,58.445 108.146,59.600 108.311 M46.144 109.556 L 44.598 111.111 45.655 112.156 C 46.976 113.461,46.799 113.490,48.646 111.655 L 50.200 110.109 50.200 115.155 L 50.200 120.200 49.110 120.200 C 43.937 120.200,35.295 117.905,29.751 115.058 C 27.653 113.981,27.629 114.045,30.679 112.588 C 34.815 110.611,40.052 109.013,44.700 108.311 C 47.979 107.815,47.922 107.767,46.144 109.556 M29.300 117.797 C 35.064 120.586,41.364 122.283,47.752 122.766 C 48.990 122.860,50.025 122.973,50.052 123.018 C 50.078 123.063,50.071 126.814,50.036 131.354 L 49.972 139.608 48.636 139.492 C 36.474 138.432,26.915 134.262,19.228 126.662 L 16.357 123.823 16.774 123.236 C 17.618 122.052,21.356 118.509,23.272 117.077 L 25.245 115.604 26.072 116.120 C 26.528 116.403,27.980 117.158,29.300 117.797 M81.146 117.032 C 83.174 118.563,85.007 120.233,86.609 122.010 L 88.044 123.602 87.704 124.121 C 87.517 124.407,86.450 125.554,85.332 126.671 C 77.822 134.175,67.202 138.711,55.250 139.519 L 53.200 139.657 53.201 135.379 C 53.201 133.025,53.260 129.284,53.332 127.064 L 53.463 123.028 54.981 122.911 C 64.002 122.215,73.126 119.551,78.500 116.045 C 79.203 115.586,79.258 115.607,81.146 117.032 M240.264 115.988 C 234.744 117.476,230.461 122.026,229.333 127.600 C 228.760 130.434,228.785 157.231,229.363 159.300 C 233.568 174.367,253.617 174.917,258.533 160.100 C 259.009 158.665,259.073 158.124,259.154 154.850 L 259.244 151.200 254.548 151.200 L 249.851 151.200 249.760 153.950 C 249.533 160.777,243.971 163.964,240.053 159.513 C 238.450 157.691,238.500 158.219,238.500 143.200 C 238.500 127.431,238.518 127.320,241.300 125.690 C 245.638 123.147,249.800 126.649,249.800 132.842 L 249.800 135.000 254.525 135.000 L 259.250 135.000 259.146 131.550 C 258.946 124.894,256.633 120.557,251.679 117.548 C 248.691 115.733,243.726 115.054,240.264 115.988 M328.300 115.995 C 323.274 117.332,319.282 121.128,317.672 126.100 C 317.045 128.036,317.014 128.644,316.832 142.700 L 316.700 152.900 313.830 136.300 C 312.251 127.170,310.824 118.958,310.658 118.050 L 310.356 116.400 304.400 116.400 C 299.816 116.400,298.422 116.458,298.351 116.650 C 298.301 116.788,296.469 126.840,294.280 138.989 L 290.300 161.077 290.179 147.289 C 290.112 139.705,290.044 129.653,290.029 124.950 L 290.000 116.400 285.300 116.400 L 280.600 116.400 280.600 127.000 L 280.600 137.600 274.871 137.600 L 269.141 137.600 269.221 127.050 L 269.300 116.500 264.550 116.446 L 259.800 116.393 259.800 143.296 L 259.800 170.200 264.500 170.200 L 269.200 170.200 269.200 158.700 L 269.200 147.200 274.898 147.200 L 280.597 147.200 280.648 158.650 L 280.700 170.100 289.288 170.152 C 294.011 170.181,297.946 170.134,298.033 170.047 C 298.149 169.931,299.000 164.867,299.000 164.289 C 299.000 164.240,301.327 164.200,304.171 164.200 L 309.342 164.200 309.703 166.750 C 310.254 170.630,309.595 170.200,314.995 170.200 C 319.248 170.200,319.600 170.173,319.598 169.850 C 319.596 169.658,319.326 167.973,318.998 166.106 C 318.669 164.240,318.400 162.622,318.400 162.511 C 318.400 162.400,318.738 162.892,319.150 163.605 C 325.699 174.916,343.633 172.330,346.648 159.639 C 346.956 158.343,347.071 158.339,347.364 159.610 C 348.225 163.339,351.682 167.496,355.500 169.392 C 364.089 173.659,374.552 168.611,376.808 159.112 C 377.394 156.648,377.319 128.902,376.722 126.907 C 372.244 111.950,351.256 111.888,347.416 126.821 C 347.207 127.634,346.992 128.165,346.938 128.000 C 346.883 127.835,346.726 127.250,346.589 126.700 C 344.638 118.908,336.110 113.917,328.300 115.995 M130.311 135.839 C 130.235 146.543,130.202 158.630,130.236 162.700 L 130.300 170.100 138.200 170.099 C 143.856 170.098,146.495 170.023,147.489 169.836 C 153.770 168.655,159.005 163.591,160.310 157.437 C 160.817 155.042,160.724 129.956,160.200 127.882 C 158.943 122.906,155.251 118.837,150.379 117.055 L 148.900 116.514 139.674 116.446 L 130.449 116.378 130.311 135.839 M161.692 116.650 C 161.640 116.788,161.620 128.870,161.649 143.500 L 161.700 170.100 174.500 170.100 L 187.300 170.100 187.300 165.400 L 187.300 160.700 179.250 160.648 L 171.200 160.595 171.200 153.898 L 171.200 147.200 179.188 147.200 C 183.582 147.200,187.220 147.129,187.274 147.042 C 187.328 146.954,187.320 144.839,187.255 142.342 L 187.138 137.800 179.169 137.800 L 171.200 137.800 171.200 131.800 L 171.200 125.800 179.200 125.800 L 187.200 125.800 187.200 121.100 L 187.200 116.400 174.494 116.400 C 164.513 116.400,161.767 116.454,161.692 116.650 M189.111 129.250 C 189.036 136.317,189.003 148.400,189.037 156.100 L 189.100 170.100 201.950 170.151 L 214.800 170.203 214.800 165.401 L 214.800 160.600 206.700 160.600 L 198.600 160.600 198.600 138.500 L 198.600 116.400 193.924 116.400 L 189.248 116.400 189.111 129.250 M12.122 122.344 C 13.022 123.748,13.021 123.707,12.219 124.873 C 11.862 125.391,11.180 126.546,10.702 127.440 L 9.834 129.065 9.667 128.082 C 9.451 126.810,9.451 120.590,9.667 119.319 L 9.834 118.338 10.607 119.763 C 11.032 120.546,11.714 121.708,12.122 122.344 M94.993 121.291 C 95.199 123.528,94.994 128.124,94.665 128.657 C 94.606 128.752,94.138 128.080,93.625 127.165 C 93.112 126.249,92.416 125.103,92.080 124.617 L 91.468 123.735 92.484 122.113 C 93.043 121.221,93.723 120.069,93.996 119.552 C 94.648 118.318,94.732 118.464,94.993 121.291 M333.841 125.311 C 336.412 126.187,337.627 128.358,337.761 132.315 L 337.852 135.000 342.326 135.000 L 346.800 135.000 346.800 143.100 L 346.800 151.200 342.326 151.200 L 337.852 151.200 337.761 153.850 C 337.528 160.648,332.029 163.933,328.127 159.606 C 326.401 157.691,326.500 158.685,326.500 143.200 L 326.500 129.500 326.956 128.511 C 328.343 125.503,330.907 124.311,333.841 125.311 M364.500 125.551 C 365.501 126.069,366.419 127.034,367.022 128.200 C 367.890 129.881,368.106 155.813,367.266 157.635 C 365.079 162.384,359.451 162.640,357.033 158.100 L 356.500 157.100 356.445 143.620 C 356.383 128.645,356.364 128.890,357.691 127.152 C 359.221 125.148,362.316 124.420,364.500 125.551 M147.748 126.311 C 148.957 126.914,150.077 128.087,150.673 129.376 C 151.248 130.620,151.452 153.306,150.907 155.434 C 150.003 158.963,147.726 160.413,142.858 160.561 L 139.800 160.654 139.800 143.227 L 139.800 125.800 143.261 125.800 C 146.572 125.800,146.766 125.822,147.748 126.311 M16.821 128.120 C 24.817 136.274,35.569 141.073,48.160 142.107 L 49.821 142.243 49.760 150.405 C 49.727 154.894,49.639 158.628,49.565 158.701 C 49.343 158.924,45.098 158.413,41.933 157.784 C 27.737 154.962,15.939 145.916,11.384 134.359 L 10.980 133.335 11.423 132.217 C 12.148 130.391,14.458 126.000,14.694 126.000 C 14.721 126.000,15.678 126.954,16.821 128.120 M90.914 127.823 C 93.703 132.582,93.765 133.148,91.899 136.900 C 85.740 149.286,71.286 157.924,55.350 158.741 L 53.000 158.861 53.000 152.662 C 53.000 149.252,53.059 145.503,53.130 144.331 L 53.261 142.200 54.296 142.200 C 66.030 142.200,79.371 136.589,87.600 128.194 C 88.755 127.016,89.759 126.085,89.831 126.126 C 89.903 126.167,90.390 126.931,90.914 127.823 M305.996 143.700 C 306.873 149.750,307.635 154.947,307.690 155.250 L 307.790 155.800 304.186 155.800 L 300.582 155.800 300.696 155.150 C 301.207 152.248,304.203 133.169,304.222 132.700 C 304.260 131.760,304.308 132.059,305.996 143.700 M12.561 142.252 C 19.832 152.953,33.314 160.259,47.750 161.321 L 49.600 161.457 49.599 167.179 C 49.599 170.325,49.539 174.060,49.467 175.477 L 49.336 178.054 47.618 177.925 C 25.737 176.279,8.683 160.051,9.468 141.623 C 9.654 137.264,9.677 137.216,10.680 139.128 C 11.134 139.992,11.980 141.399,12.561 142.252 M94.994 140.537 C 96.812 159.810,79.030 176.370,54.650 178.110 L 52.800 178.242 52.800 170.028 C 52.800 160.426,52.402 161.508,56.000 161.331 C 71.946 160.545,87.436 151.431,93.851 139.059 C 94.637 137.544,94.722 137.654,94.994 140.537 "
                    stroke="none"
                    fill="#fff"
                    fill-rule="evenodd"></path><path
                    id="path1"
                    d=""
                    stroke="none"
                    fill="#fff"
                    fill-rule="evenodd"></path><path
                    id="path2"
                    d=""
                    stroke="none"
                    fill="#fff"
                    fill-rule="evenodd"></path></g
            ></svg
        >
    </a>

    <nav>
        <ul>
            <li><a href="/" id="inicio-tag" class="nav-btn">Inicio</a></li>
            <li>
                <a href="/eventos" id="eventos-tag" class="nav-btn">Eventos</a>
            </li>
            <li class="certamenNav">
                <a id="certamen-tag" class="nav-btn">Certamen</a>
                <div class="certamenSelection">
                    <a href="/certamen?anio=2025">Certamen 2025</a>
                    <a href="/certamen?anio=2022">Certamen 2022</a>
                </div>
            </li>
        </ul>
    </nav>

    <div>
        <button>
            <i class="material-icons" title="Agrandar texto">&#xeae2;</i>
        </button>
        <button><i class="material-icons" title="Contraste">&#xeb37;</i></button
        >
    </div>
</header>

<script>
    const certamenNav = document.getElementById("certamen-tag") as HTMLElement;
    const certamenSelection = document.querySelector(
        ".certamenSelection",
    ) as HTMLElement;

    if (certamenNav) {
        certamenNav.replaceWith(certamenNav.cloneNode(true));
        const newCertamenNav = document.getElementById(
            "certamen-tag",
        ) as HTMLElement;
        newCertamenNav.addEventListener("click", () => {
            certamenSelection.classList.toggle("activePopup");
        });
    }

    // ----------------------------------------------------------------------------

    let lastScrollTop = 0;
    const header = document.getElementById("header");
    if (header) {
        window.addEventListener("scroll", () => {
            const scrollTop =
                document.documentElement.scrollTop || document.body.scrollTop;

            if (scrollTop === 0) {
                // Mostrar el header cuando está en la parte superior de la página
                header.classList.remove("hidden");
            } else if (scrollTop > lastScrollTop) {
                // Ocultar el header cuando se desplaza hacia abajo
                header.classList.add("hidden");
            } else if (scrollTop < lastScrollTop) {
                // Mostrar el header cuando se desplaza hacia arriba
                header.classList.remove("hidden");
            }

            // Actualizar la última posición de scroll
            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
        });
    }

    // ----------------------------------------------------------------------------

    const paginas = ["inicio", "eventos", "certamen"];
    const pathname = window.location.pathname.slice(1);
    console.log(pathname);

    const indice = paginas.findIndex((el) => el.includes(pathname));

    console.log(`${paginas[indice]}-tag`);

    const paginaActual = document.getElementById(
        `${paginas[indice]}-tag`,
    ) as HTMLElement;

    if (paginaActual) {
        paginaActual.classList.add("paginaActual");
    }

    // ----------------------------------------------------------------------------
    const observer = new IntersectionObserver((entries) => {
        for (const entry of entries) {
            if (entry.isIntersecting) {
                if (entry.target.classList.contains("hidden")) {
                    entry.target.classList.add("show");
                } else if (entry.target.classList.contains("hiddenImg")) {
                    entry.target.classList.add("showImg");
                }
            }
        }
    });
    const hiddenElements = document.querySelectorAll(".hidden");
    const hiddenImgElements = document.querySelectorAll(".hiddenImg");
    for (const element of hiddenElements) {
        observer.observe(element);
    }

    for (const image of hiddenImgElements) {
        observer.observe(image);
    }
</script>
