.mainContainer {
  /* position: fixed;
  top: 0;
  left: 180px; */
  display: flex;
  /* width: calc(100vw - 180px); */
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-100);
  overflow-x: hidden;
  /* padding: 24px 48px; */
}

.mainSection {
  width: 100%;
  flex: 1;
  overflow-x: hidden;
}

.header-section {
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: clamp(18px, 4vw, 22px);
}

.section-container {
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  border: 1px solid #ddd;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
}

.event-table th,
.event-table td {
  padding: 10px;
  text-align: left;
}

.event-table td {
  border-top: 1px solid #ddd;
}
.event-table th {
  background-color: #f4f4f4;
}

.event-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.event-table .pagination {
  text-align: center;
  padding: 10px;
}

.page-link {
  display: inline-block; /* Asegura que respete el alto */
  height: 20px; /* Ajusta la altura */
  line-height: 20px; /* Centra el contenido verticalmente */
  padding: 0 10px; /* Ajusta el espacio horizontal según sea necesario */
  text-decoration: none; /* Elimina el subrayado */
  color: var(--primario); /* Color del texto */
}

.page-link:hover {
  text-decoration: underline;
}

.action-btn__container {
  display: flex;
  gap: 8px;
}
