.input-filter__container {
  border: 1px solid var(--grey-400);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 450ms;
  cursor: pointer;
  width: fit-content;
  span {
    color: var(--text-200);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input-filter {
  all: unset;
  color: var(--text-200);
}

.input-filter:focus-within {
  color: var(--primario);
}

.material-symbols-outlined {
  transition: color 450ms;
  transition: transform 450ms;
  margin-top: 1px;
}

.input-filter__container:focus-within,
.input-filter__container:active {
  border-color: var(--primario);
  color: var(--primario);
}

.input-filter__container:focus-within span {
  color: var(--primario);
}
