.input-filter__container {
  border: 1px solid var(--grey-400);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 450ms;
  cursor: pointer;
  width: fit-content;
  span {
    color: var(--text-200);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input-filter {
  all: unset;
  color: var(--text-200);
}

.input-filter:focus-within {
  color: var(--primario);
}

.material-symbols-outlined {
  transition: color 450ms;
  transition: transform 450ms;
  margin-top: 1px;
}

.input-filter__container:focus-within,
.input-filter__container:active {
  border-color: var(--primario);
  color: var(--primario);
}

.input-filter__container:focus-within span {
  color: var(--primario);
}

.Displaynone .popUp-datepicker {
  display: flex;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #fff;
  z-index: 20;
}

.popUp-datepicker:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.popUp-datepicker:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}
