---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <section class="container-title">
            <div class="container-title-evento">
                <h1 id="nombre-evento"></h1>
                <p id="fecha-evento"></p>
            </div>

            <div id="left2"></div>
            <div id="right2"></div>
        </section>

        <div class="wrapped2">
            <div class="center" id="loading-indicator">
                <div class="loading-wave">
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                </div>
            </div>

            <div class="section-certamen pad-bottom-36">
                <section class="detalle-evento">
                    <div class="h2-mas-p">
                        <div>
                            <h2 id="nombre-evento-h2"></h2>
                            <div class="divider-sm"></div>
                        </div>
                        <div class="info-certamen">
                            <p class="text-pretty" id="descripcion-evento"></p>
                            <h3 id="lugar-evento"></h3>
                            <p id="lugar-descripcion"></p>
                        </div>

                        <div class="share-button">
                            <span class="button__text">Compartir</span>
                            <span class="button__icon">
                                <i
                                    class="fa-brands fa-twitter icons-size-sm"
                                    title="twitter"></i>
                                <i
                                    class="fa-brands fa-facebook icons-size-sm"
                                    title="facebook"></i>
                                <i
                                    class="fa-brands fa-whatsapp icons-size-sm"
                                    title="whatsapp"></i>
                            </span>
                        </div>
                    </div>
                    <div class="imagen-evento">
                        <img id="imagen-evento" />
                    </div>
                </section>
            </div>
        </div>
    </main>
</Layout>

<script src="../scripts/detalle_evento.ts"></script>
