<main>
    <section class="hero-section">
        <section id="up"></section>
        <section id="down"></section>
        <section id="left"></section>
        <section id="right"></section>
        <div class="pantalla-completa">
            <article class="error-container">
                <div class="error">
                    <dotlottie-player
                        src="https://lottie.host/d6200585-04fd-466b-b8d4-98ff68cceed4/rRH6nP55GB.lottie"
                        background="transparent"
                        speed="1"
                        style="width: 150px; height: 150px"
                        loop
                        autoplay></dotlottie-player>

                    <strong><p>El link de verificación ha expirado</p></strong>
                    <a id="volverAValidar">Volver a enviar el correo</a>
                </div>
            </article>
        </div>
    </section>
</main>

<script src="../scripts/error.ts"></script>
