---
import Layout from "../layouts/Layout.astro";
import GaleriaEventos from "../components/GaleriaEventos.astro";
---

<Layout>
    <section class="container-title">
        <h1>Cronograma de <span class="cursiva">actividades</span></h1>
        <div id="left2"></div>
        <div id="right2"></div>
    </section>
    <div class="wrapped2">
        <GaleriaEventos />
    </div>
</Layout>
