---
import Layout from "../layouts/Layout.astro";

const { searchParams } = Astro.url;
const escultor_id = searchParams.get("id");
---

<Layout>
    <section class="hero-section">
        <section id="up"></section>
        <section id="down"></section>
        <section id="left"></section>
        <section id="right"></section>
        <div class="pantalla-completa">
            <article class="container-votar">
                <div id="notificarMail" class="notificarMail">
                    <!-- <dotlottie-player src="https://lottie.host/a0796196-ae26-467c-b134-eb8ecefe18fe/eJnBtGitKW.lottie" background="transparent" speed="1" style="width: 300px; height: 200px" loop autoplay></dotlottie-player> -->

                    <dotlottie-player
                        src="https://lottie.host/8597446d-f3e2-4f2e-b2fa-d20abacad15f/y6wsc1xjhF.lottie"
                        background="transparent"
                        speed="1"
                        style="width: 200px; height: 200px"
                        loop
                        autoplay></dotlottie-player>

                    <strong
                        ><p>
                            Se envío un mail de verificación, revise su correo
                        </p></strong
                    >
                    <p>Puede cerrar esta pestaña</p>
                    <p>- o -</p>
                    <a id="volverAValidar">Volver a enviar el correo </a>
                </div>
                <div class="formulario-voto" id="formulario-voto">
                    <h1 id="nombre-escultor"></h1>
                    <p>
                        Para confirmar su voto, ingrese su dirección de correo.
                    </p>

                    <script
                        is:inline
                        src="https://challenges.cloudflare.com/turnstile/v0/api.js"
                        async
                        defer
                        onload="console.log('Turnstile script loaded')"
                    ></script>

                    <form id="votoForm" method="POST">
                        <input
                            id="email"
                            type="email"
                            class="input-email"
                            placeholder="ejemplo@gmail.com"
                            required
                        />

                        <div
                            class="cf-turnstile"
                            data-sitekey="0x4AAAAAAA0lWbfGb1NvswMH"
                            data-callback="javascriptCallback"
                            data-theme="light"
                        >
                        </div>
                        <!-- <button type="submit" class="btn-enviar-email" id="btn-votar">
                    Enviar <i class="material-icons-outlined">&#xe5c8;</i>
                  </button> -->

                        <button
                            type="submit"
                            class="btn-enviar-email"
                            id="btn-votar"
                        >
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                    >
                                        <path fill="none" d="M0 0h24v24H0z"
                                        ></path>
                                        <path
                                            fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                        ></path>
                                    </svg>
                                </div>
                            </div>
                            <span>Send</span>
                        </button>
                    </form>
                </div>
                <img id="img_escultor" />
                <!-- TODO: INSERTAR IMAGEN ESCULTOR -->
            </article>
        </div>
    </section>
</Layout>

<script src="../scripts/validar.ts"></script>
<script
    src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
></script>
